<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello World!</title>
</head>
<body>
   <h1 th:text="'Hello ' + ${name} + '!'"></h1>
</body>
</html>